<%- include("partials/header"); -%>
<div class="upperSection">
    <table class="heading">
        <tr>
            <td><h1>It is a platform that will provide food,Work and Shelters to needies</h1></td>
            <td class="align"><img src="imgs/emp1.jpeg" alt="Logo_img"></td>
        </tr>
    </table>
</div>
<div class="middleSection"></div>
<div class="bottomSection"></div>
<%- include("partials/footer"); -%>