<%- include("partials/header"); -%>

<span class="identity">
    <form name="details" action="login" method="POST">
        <label for="UserId">UserId</label>
        <input type="text" name="UserId" autocomplete="off" placeholder="john21@hotail.com">
        </br>
        </br>
        </br>
        <label for="Password">Password</label>
        <input type="password" name="Password" >
        <button name="login-btn" type="submit">Log-in</button>
    </form>
</span>

<%- include("partials/footer"); -%>