<%- include("partials/header"); -%>
<img id="regImg" src="imgs/emp2.jpeg" alt="logo_img">
<div class="identity">
    <form name="details" action="register" method="POST">
        <label for="UserId">UserId</label>
        <input type="text" name="UserId" autocomplete="off" placeholder="john21@hotail.com">
        <label for="Password">Password</label>
        <input type="password" name="Password" >
        <button name="btn" type="submit">Register</button>
    </form>
</div>

<%- include("partials/footer"); -%>